<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!-- Messiah Root Menu -->
    <menuitem id="menu_auto_messiah_root" name="Auto Messiah"/>

    <!-- Mechanics Menus -->
    <menuitem id="menu_auto_mechanic_root" name="Manage Mechanics" parent="menu_auto_messiah_root"/>
    <menuitem id="menu_auto_mechanic" name="Mechanics" parent="menu_auto_mechanic_root" action="action_auto_mechanic"/>

    <!-- Users Menus -->
    <menuitem id="menu_auto_user_root" name="Manage Users" parent="menu_auto_messiah_root"/>
    <menuitem id="menu_auto_user" name="Users" parent="menu_auto_user_root" action="action_auto_user"/>

    <!-- Service Menus -->
    <menuitem id="menu_auto_service_root" name="Service Requests" parent="menu_auto_messiah_root"/>
    <menuitem id="menu_auto_all_service" name="All Requests" parent="menu_auto_service_root" action="action_auto_service_request"/>
    <menuitem id="menu_auto_new_service" name="New Requests" parent="menu_auto_service_root" action="action_auto_new_service_request"/>
    <menuitem id="menu_auto_pending_service" name="Pending Requests" parent="menu_auto_service_root" action="action_auto_pending_service_request"/>
    <menuitem id="menu_auto_completed_service" name="Completed Requests" parent="menu_auto_service_root" action="action_auto_completed_service_request"/>

    <!-- Towing Menus -->

    <menuitem id="menu_auto_tow_root" name="Towing Requests" parent="menu_auto_messiah_root"/>
    <menuitem id="menu_auto_all_tow" name="All Requests" parent="menu_auto_towing_root" action="action_auto_towing_request"/>
    <menuitem id="menu_auto_new_tow" name="New Requests" parent="menu_auto_towing_root" action="action_auto_new_tow_request"/>
    <menuitem id="menu_auto_pending_tow" name="Pending Requests" parent="menu_auto_towing_root" action="action_auto_pending_tow_request"/>
    <menuitem id="menu_auto_completed_tow" name="Completed Requests" parent="menu_auto_towing_root" action="action_auto_completed_tow_request"/>

    <!-- Payment Menus -->
    <menuitem id="menu_auto_payment_root" name="Payment Details" parent="menu_auto_messiah_root"/>
    <menuitem id="menu_auto_payment" name="Payment" parent="menu_auto_payment_root" action="action_auto_payment"/>
    <menuitem id="menu_auto_success_payment" name="Successful Transactions" parent="menu_auto_payment_root" action="action_auto_success_payment"/>
    <menuitem id="menu_auto_failed_payment" name="Failed Transactions" parent="menu_auto_payment_root" action="action_auto_user_fail_payment"/>

    <!-- Configuration Menus -->
    <menuitem id="menu_auto_config_root" name="Configurations" parent="menu_auto_messiah_root"/>
    <menuitem id="menu_auto_vehicle_brand" name="Vehicle Brand" parent="menu_auto_config_root" action="auto_vehicle_brand_action"/>
    <menuitem id="menu_auto_vehicle_model" name="Vehicle Model" parent="menu_auto_config_root" action="auto_vehicle_model_action"/>
    <menuitem id="menu_auto_service_request_type" name="Service Types" parent="menu_auto_config_root" action="action_auto_service_types"/>


</odoo>